mixin promo-section(props)
    .promo-section&attributes(attributes)
        +img({ src: '../../assets/images/telegram.png' })
        .promo-section__content
            h2 Обменять в Телеграм
            a(href="#") Перейти 
