$white: #FFFFFF;
$black: #292929;
$background: #1D182E;

$color1: #15182B;
$color2: #30294B;
$color3: #0A0B1B;
$color4: #FAE54D;

$shadow1: #6975a4;
$shadow2: #050615;
$shadow3: #494B4D;
$shadow4: #2B2D32;

$border1: #2A2F48;
$border2: #0D1021;