.header {
    $root: &;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;

    svg {
        width: 240px;
        height: 40px;

        @include media-breakpoint-up(lg) {
            width: 500px;
            height: 100px;
        }
    }
}