mixin footer(props)
    footer.footer&attributes(attributes)
        +svg('logo')
        .footer__buttons
            +button('Обратная связь').footer__buttons-item
            +button('Telegram').footer__buttons-item