include ../../components/header/header
include ../../components/footer/footer
include ../../components/section-tabs/section-tabs
include ../../components/promo-section/promo-section
include ../../components/button/button
include ../../components/trade-form/trade-form
include ../../components/input/input
include ../../components/select/select
include ../../components/orders-list/orders-list